{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Annota | Type User Story </title>

        <link rel="stylesheet" href="{% static './style.css' %}">

    </head>
    
    <body>

        <!--------------------------- HEADER --------------------------->
        <div class="header">
            <a href="#default" class="logo">Annota</a>
            <div class="header-right">
              <a href="/home">Home</a>
              <a href="#contact">Contact</a>
              <a href="#about">About</a>
            </div>
        </div>

        <!--------------------------- SECONDARY HEADER --------------------------->
        <div class="secondary-header">
            <!--------------------------- TITLE --------------------------->
            <div>
                <p class="secondary-header-title secondary-header-title-uppercase">{{ project.name }} - Type User Story</p>
            </div>
            <!--------------------------- BACK BUTTON BUTTON --------------------------->
            <div class="back-button">
                <a button></a><a href="{% url 'project' project.id %}">Back</a></button>
            </div>
        </div>

        <!--------------------------- TERTIARY HEADER --------------------------->
        <div class="tertiary-header">
            <div class="tertiary-header-right">
                {% if project.status == "Planning" %}
                {% endif %}
                
                {% if project.status == "Initiated" %}
                {% endif %} 
            </div>
            <div class="tertiary-header-left">
                <button type="button" class="tertiary-header-right-button"><a href="{% url 'type_us_status' project.id %}">Status</a></button>
            </div>
        </div>
        

    </body>
</html>